ul{
    color: blue;
}

h1{
    color: red;
    font-size: 30px;
    font-style: oblique;
    font-weight: 900;
}
p{
    color: black;
}
a{
    color: blueviolet;
}

#parrafo1{
    color: blue;
}

.parrafoVerde{
    color: green;
}

.parrafoNegro{
    color: black;
}

.letraNegrita{
    font-weight: bold;
}
.letraItalic{
    font-style: italic;
}

.letraAzul{
    color: blue;
}

.parrafoAngosto{
    width: 700px;
}

.imagenPequeña{
    height: 300px;
}

.contenedorConMargen{
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    border: 2px solid red;
    padding: 10px;
}
.contenedorDivsGrid{
    margin: 20px;
    display: grid;
    grid-column: auto;
    grid-template-rows: 40px 40px 40px 40px;
    grid-template-columns: 50% 50%;
}

.divTest{
    border: 1px solid red;
    height: 50px;
}

.contenedorDivsFlex{
    display: flex;
    border: 3px solid green;
    height: 500px;
    justify-content: space-between;
    align-items: center;

    
}